/*
 * OpenBook: Interactive Online Textbooks - Server
 * © 2024 Dennis Schulmeister-Zimolong <dennis@wpvs.de>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 */

/* Adopt styling of DjangoQL Searchbar for Django Unfold Admin */
#searchbar {
    height: auto !important;
    padding: 0.5em;
    outline: none;
    line-height: normal !important;
}

.djangoql-toggle {
    margin-left: 10px;
}

/* Adopt styling of Django Color for Django Unfold Admin */
.clr-field {
    border: 1px var(--tw-border-style) rgb(var(--color-base-200));
    padding: 0.5em;
    border-radius: var(--border-radius, 6px);

    button {
        border-top-right-radius: var(--border-radius, 6px);
        border-bottom-right-radius: var(--border-radius, 6px);
    }

    --tw-shadow: 0 1px 2px 0 var(--tw-shadow-color,#0000000d);
    box-shadow: var(--tw-inset-shadow),var(--tw-inset-ring-shadow),var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
}

/**
 * Force non-proportional font for text area widgets
 */
textarea {
    font-family: monospace !important;
}