# 2026-03-16, last checked 2026-04-26:
# Work around for eslint-plugin-import not yet fully compatible
# with eslint 10. Without this option `npm install` fails with
# the following error:
#
# > npm error code ERESOLVE
# > npm error ERESOLVE could not resolve
# > npm error
# > npm error While resolving: eslint-plugin-import@2.32.0
# > npm error Found: eslint@10.0.3
legacy-peer-deps=true
