# Copy to openbook.service and adapt to your needs.
# Create a symlink to the copied file in /etc/systemd/system/

[Unit]
Description=OpenBook ASGI Server (Daphne)
After=network.target redis.service

[Service]
User=openbook
Group=openbook
WorkingDirectory=/opt/openbook/src
ExecStart=/opt/openbook/.venv/bin/daphne -p 8000 openbook.asgi:application
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
