{
    # Comment the next line in production. But also make sure that Docker forwards
    # the host ports 80 and 443 to the web server.
    auto_https off

    email webmaster@example.com

    log {
        level WARN
    }
}

# Remove port number in production to allow HTTPS, too
localhost:80 {
    encode zstd gzip
    reverse_proxy openbook:8000

    handle_path /static/* {
        file_server
        root /srv/www/static.volume
    }

    handle_path /media/* {
        file_server
        root /srv/www/media.volume
    }

    handle_path /app/* {
        file_server
        root /srv/www/static.volume/openbook/app
        try_files {path} /index.html
    }

    # Also configured in ../openbook/local_settings.py, but actually only needed in one place.
    redir / /app/
}

# # Remove www. prefix
# www.example.com {
#         redir https://example.com{uri}
# }
